# This file is a "template" of what your parameters.yml file should look like
parameters:
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    # MongoDB
    mongodb_host: ~
    mongodb_port: ~
    mongodb_username: ~
    mongodb_password: ~
    mongodb_database: ~

    #RabbitMQ
    rabbitmq_host: ~
    rabbitmq_port: ~
    rabbitmq_user: guest
    rabbitmq_password: guest

    #Phantasos
    phantasos_media_directory: /var/media
    phantasos_video_timeout: 60000
    phantasos_video_threads: 8
    phantasos_processor_count: 2
    phantasos_error_from_email: ~
    phantasos_error_to_email: ~

    #FFMpeg
    ffmpeg_binary: '/usr/bin/ffmpeg'
    ffprobe_binary: '/usr/bin/ffprobe'
